<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />    
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="icon" href="/public/images/favicon.ico" type="image/x-icon">

<!-- Navbar start  -->
<div class="container-fluid navbar-style py-3">
  <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand d-flex align-items-center" id="logo" href="/index.html">
                    <i class="fas fa-dumbbell mr-2"></i>
                    <span style="font-weight: bold;" class="fs-4 navbar-brand">MUSCLE <span  style="color: #fd5c63;  font-weight: bold;">YARD</span></span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/index.html">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/templates/views/program.html">Program</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/templates/views/service.html">Service</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/templates/views/pricing.html">Pricing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/templates/views/contact.html">Contact Us</a>
              </li>
              
            </ul>
            
          </div>
        </nav>
      </div>
  </div>
</div>
<!-- Navbar end  -->
<section class="section-service section-lg-bottom">
  <div class="container-fluid service-style" id="serviceid">
    <div class="row justify-content-center">
      <div class="col-lg-12 text-center">
        <h1 class="text-center fs-1 fs-md-2 fs-lg-3 fw-bold">Our Services</h1>
                <p class="text-center fw-bold">" Achieve Your Fitness Goals with Tailored Training! "</p>
      </div>
      <!-- {{!-- 1 --}} -->
      <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
        <div class="text-center shadow card py-3 border-0 rounded-sm">
          <div class="card-body">
            <i class="fa-solid fa-heart-pulse icon-lg icon-bg-square mb-5 icon-primary"></i>
            <h4 class="mb-3 mt-3">Wellness Workshops</h4>
            <p class="mt-5">Participate in informative workshops on health and fitness topics. Learn valuable tips to enhance your overall well-being.</p>
          </div>
        </div>
      </div>
<!-- {{!-- 2 --}} -->
      <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
        <div class="text-center shadow card py-3 border-0 rounded-sm">
          <div class="card-body">
            <i class="fa-solid fa-people-roof icon-lg icon-bg-square mb-5 icon-primary"></i>
            <h4 class="mb-5 mt-3">Personal Training</h4>
            <p class="mt-4">Get personalized one-on-one coaching tailored to your fitness goals. 
            Our trainers provide guidance, motivation, and accountability to help you succeed.</p>
          </div>
        </div>
      </div>
<!-- {{!-- 3 --}} -->
      <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
        <div class="text-center shadow card py-3 border-0 rounded-sm">
          <div class="card-body">
            <i class="fa-solid fa-plate-wheat icon-lg icon-bg-square mb-5 icon-primary"></i>
            <h4 class="mb-5 mt-3">Nutrition Counseling</h4>
            <p class="mt-4"> Receive expert nutritional guidance to complement your fitness routine. 
                Tailored meal plans help you achieve optimal health and performance</p>
          </div>
        </div>
      </div> 
<!-- {{!-- 4 --}}    -->
      <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
        <div class="text-center shadow card py-3 border-0 rounded-sm">
          <div class="card-body">
            <i class="fa-solid fa-user-check icon-lg icon-bg-square mb-5 icon-primary"></i>
            <h4 class="mb-5 mt-3">Verified Trainers</h4>
            <p class="mt-4"> Our gym provides a team of verified trainers who are certified and experienced in various fitness disciplines</p>
          </div>
        </div>
      </div>  
<!-- {{!-- 5 --}}   -->
      <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
        <div class="text-center shadow card py-3 border-0 rounded-sm">
          <div class="card-body">
            <i class="fa-solid fa-money-bill-transfer icon-lg icon-bg-square mb-5 icon-primary"></i>
            <h4 class="mb-5 mt-3">Membership Plans</h4>
            <p class="mt-4">Our gym offers flexible membership plans, including monthly and family options, providing full access to facilities and classes for every fitness level.</p>
          </div>
        </div>
      </div>
<!-- {{!-- 6 --}}    -->
      <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
        <div class="text-center shadow card py-3 border-0 rounded-sm">
          <div class="card-body">
            <i class="fa-solid fa-shower icon-lg icon-bg-square mb-5 icon-primary"></i>
            <h4 class="mb-5 mt-3">Locker and Shower Facilities</h4>
            <p class="mt-4">Our gym offers secure locker facilities and clean showers for members to conveniently store belongings 
                and refresh after workouts</p>
          </div>
        </div>
      </div>    
    </div>
  </div>
</section>   

 <!-- {{!-- Footer section starts --}} -->
 <div class="container my-5">

	<footer style="background-color: #ffffff;">
	<div class="container p-4">
	  <div class="row">
		<div class="col-lg-6 col-md-12 mb-4">
		  <i class="fas fa-dumbbell mr-2"></i>
			<span style="font-weight: bold;" class="fs-4 navbar-brand">MUSCLE <span  style="color: #fd5c63;  font-weight: bold;">YARD</span></span>
		  <p>
			"Strength begins with a single step, Transform your body, ignite your fire.
			In every rep, find your true self, Together we rise, reaching higher!"
		  </p>
		</div>
		<div class="col-lg-3 col-md-6 mb-4">
		  <h5 class="mb-3" style="color: #818963;">Links</h5>
		  <ul class="list-unstyled mb-0">
			<li class="mb-1">
			  <a href="#programid" style="color: #4f4f4f;">Programs</a>
			</li>
			<li class="mb-1">
			  <a href="#serviceid" style="color: #4f4f4f;">Services</a>
			</li>
			<li class="mb-1">
			  <a href="#pricingid" style="color: #4f4f4f;">Pricing</a>
			</li>
			<li>
			  <i class="fa-solid fa-location-dot"></i> Mumbai - 401305
			</li>
		  </ul>
		</div>
		<div class="col-lg-3 col-md-6 mb-4">
		  <h5 class="mb-1" style="color: #818963;">Opening hours</h5>
		  <table class="table" style="color: #4f4f4f; font-size:10px ;border-color: #666;">
			<tbody>
			  <tr>
				<td>Mon - Fri:</td>
				<td>5am - 12pm</td>
				<td>3pm - 11pm</td>
			  </tr>
			  <tr>
				<td>Sat - Sun:</td>
				<td>8am - 12pm</td>
				<td>Closed</td>
			  </tr>
			</tbody>
		  </table>
		</div>
	  </div>
	</div>
	<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
	  © 2024 Copyright:
	  <a class="text-dark" href="#"> Girish Lokhande</a>
	</div>

  </footer>
  
</div>    
<!-- {{!-- Footer section ends --}} -->